body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


#selectedArea {
    border: 2px dashed red;
    position: absolute;
    pointer-events: none;
}

#canvas {
    border: 1px solid black;
    cursor: crosshair;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.canvas-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

#canvas-output {
    margin-top: 25px;
}


.hidden {
    display: none;
}

button {
    margin: 5px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}


header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Alinhar ao canto superior esquerdo */
    align-items: center;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;; /* Define as margens esquerda e direita como "auto" para centralizar */
    width: fit-content; /* Ajusta a largura do elemento ao conteúdo */
}

.home-button {
    font-size: 18px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Adicionar margem à direita do botão Home */
}

#sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.cool-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: #fff; /* Text Color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight Shadow */
    transition: background 0.3s ease;
}

.cool-button:hover {
    background: linear-gradient(to right, #34C759, #007BFF); /* Gradient on Hover */
}


.config-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}

.config-container h2 {
    margin-bottom: 50px; /* Define a margem superior como zero para o título h1 */
}

.number-input {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 5px;
    text-size-adjust: 100%;
}

.input-label {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Estilização para o rótulo */
.plot-label {
    margin-left: 20px; /* Adiciona espaço na parte inferior */
    /* Outros estilos conforme necessário */
    display: inline; /* Defina o display como inline */

}

/* Estilização para o select */
.plot-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%; /* Define a largura do select */
    max-width: 200px; /* Define a largura máxima do select */
    /* Estilos para indicador/drop-down arrow */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000"><path d="M7 10l5 5 5-5z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

/* Estilização quando o select estiver em foco */
.plot-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Adicione um efeito de sombra quando estiver em foco */
}


/* CSS for styling the toggle button with labels */
.toggle-button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-right: 1rem;
}

.toggle-button input {
    display: none;
}

.button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 40px;
}

.label-input, .label-output {
    color: #2196F3;
    text-align: center;
    line-height: 40px;
    position: absolute;
    width: 50%;
    top: 0;
    font-size: 14px;
}

.label-input {
    left: 0;
    color: black;
}

.label-output {
    right: 0;
}

.toggle-button input:checked + .button {
    background-color: #2196F3;
}

.toggle-button input:focus + .button {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-button input:checked + .button:before {
    transform: translateX(90%);
}

.toggle-button .button:before {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
