#selectedArea {
    border: 2px dashed red;
    position: absolute;
    pointer-events: none;
}

#canvas {
    border: 1px solid black;
    cursor: crosshair;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.canvas-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}

#canvas-output {
    margin-top: 25px;
}

.hidden {
    display: none;
}

button {
    margin: 5px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}