#selectedArea {
    border: 2px dashed red;
    position: absolute;
    pointer-events: none;
}

#canvas {
    border: 1px solid black;
    cursor: crosshair;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.canvas-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

#canvas-output {
    margin-top: 25px;
<<<<<<< Updated upstream
}
=======
}

.hidden {
    display: none;
}

button {
    margin: 5px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-start; /* Alinhar ao canto superior esquerdo */
    align-items: center;
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px 0 420px; /* Centralizar o título */
}

.home-button {
    font-size: 18px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px; /* Adicionar margem à direita do botão Home */
}

#sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.cool-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: #fff; /* Text Color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight Shadow */
    transition: background 0.3s ease;
}

.cool-button:hover {
    background: linear-gradient(to right, #34C759, #007BFF); /* Gradient on Hover */
}

.config-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 10px;
}

.number-input {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 5px;
    text-size-adjust: 100%;
}

.input-label {
    font-size: 1.6rem;
    font-weight: bold;
}

>>>>>>> Stashed changes
