<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntetic Graph Scanner</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script defer src="/static/syntetic_script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    {% include 'header.html' %}
    <div class="container">
        <div class="input-container">
            <input type="file" id="inputImage" accept="image/*">
        </div>
        <div class="canvas-container" >
            <canvas id="canvas"></canvas>
            <div class="buttons-container" id="buttons-container">
                <button id="resetButton">Reset</button>
                <button id="boundingBox1Button">Graph Bounding Box</button>
                <button id="boundingBox2Button">Axis Y</button>
                <button id="boundingBox3Button">Axis X</button>
                <button id="sendButton">Send</button>
            </div>
        </div>
        <canvas id="canvas-output"></canvas>
    </div>

</body>

</html>

